 /* Break points : 992px et 768px  */
/* 1 DESKTOP 2 TABLETTE 3 MOBILE */
@media (max-width: 1500px) {
    .activities-list {
      grid-template-rows: repeat(auto-fit, 15rem);
    }
  
    .activities-list > * {
      grid-column: span 1;
      grid-row: span 1;
      height: 15rem;
    }
  }
  @media (max-width: 1200px) {
      #hebergements img{
        width:80%;
       
      }
    .search-form .search-text {
      display: none;
    }
  
    .fas.fa-search {
      display: inline;
      background-color: inherit;
    }
  }
  

@media screen and (min-width:992px) and (max-width:1160px){
    #hebergements {
        width:100%;
    }
    .aside {
        width:100%;
    }
    .activites-container {
        
        flex-direction:column;
    }
    footer {
        margin-top:10rem;
    }
}

@media screen and (max-width:992px){
    #hebergements {
        width:100%;
    }
    .aside {
        width:100%;
    }
    .activites-container {
        
        flex-direction:column;
    }
    footer {
        margin-top:10rem;
    }
}

@media screen and (max-width:900px){
    #hebergements img {
        width:90%;
    }
}

@media screen and (max-width:700px){
    .filtres {
        display:flex;
        flex-direction:column;
    }

}

@media screen and (max-width:668px) {
    header {
        display:flex;
        flex-direction:column;
    }
    nav {
        display:flex;
        justify-content: space-around;
    }
    
}

@media screen and (max-width:375px) {
.form {
    margin-left:20px;
}
    .search form .button-text {
        display:none;
    }
    #hebergements {
        margin-bottom:30px;
        width:100%;
        margin:0;
        padding:0;
        position:relative;
    }
    .cards {
        flex-direction:column;
        justify-content: flex-start;
        align-items:center;
       
    }
    .aside {
        width:100%;
        clear:both;
       
    }
footer {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    margin:20px;
    padding:10px;
    align-items:center;
    width:100%;
}

footer .block-1, .block-2, .block-3 ul li {
    display:flex;
    flex-direction:column;
    padding:10px;
}
}
